@charset "utf-8";
/**
 * @filename:        global.css
 * @website:
 * @version:
 * @updated:         2012-03-08T14:30
 * @author:          junluo
 * @explain：        订阅浮层
 */
/*Reset v1.0.5*/
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:100%;color:#000;}
body{margin:0;word-wrap:break-word}
:active{outline:0;}
:visited{outline:0;}
:link,:visited,ins{text-decoration:none}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,dialog{display:block}
audio,video,canvas{display:inline-block;=display:inline;=zoom:1}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,select,textarea,p,blockquote,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0}
fieldset,iframe{border:0 none}
img{border:0 none;-ms-interpolation-mode:bicubic;vertical-align:middle;}
address,caption,cite,code,dfn,em,i,th,var,optgroup{font-style:normal;font-weight:normal}
h1,h2,h3,h4,h5,h6,code,kbd,samp,tt,sup,sub,small,input,button,textarea,select{font-size:100%}
abbr,acronym{border:0 none;font-variant:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
textarea{overflow:auto;vertical-align:top;resize:vertical}
ol,ul,menu{list-style:none outside none}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
caption,th{text-align:left}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
mark{background-color:#ff6}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
input,select,button{vertical-align:middle}
button{width:auto;cursor:pointer;overflow:visible}
input[type=reset],
input[type=button],
input[type=submit]{cursor:pointer;overflow:visible}
input[type=checkbox],
input[type=radio]{box-sizing:border-box;}
/*!
 * 公共
 * 2011-09-06T11:00Z
 * */
.clearfix:before,
.clearfix:after{content:'';display:table;}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.clear{clear:both;display:block;overflow:hidden;height:0}
.fr{display:inline;float:right!important}
.fl{display:inline;float:left!important}
.show{display:block}
.hide{display:none}
.hidden{display:none!important;visibility:hidden}
.highlight{color:#F30!important}
.important{font-weight:700!important}
.center{text-align:center!important}
.left{text-align:left!important}
.right{text-align:right!important}
.indent{text-indent:2em}
.blank5,
.blank8,
.blank10,
.blank15,
.blank20{display:block;clear:both;overflow:hidden}
.blank5{height:5px}
.blank8{height:8px}
.blank10{height:10px}
.blank15{height:15px}
.blank20{height:20px}
.no-border{border:0 none!important;}
.transparent{opacity:.0;filter:alpha(opacity=0)}
small,.small{-webkit-text-size-adjust:none;}
button,input.button{line-height:1\9;padding:5px 4px 3px\0;}
input.button{cursor:pointer;overflow:visible;=padding:5px 4px 2px;}
button{=padding:4px 4px 3px;}
@media screen and (-webkit-min-device-pixel-ratio:0){button,input[type=reset],input[type=button],input[type=submit]{padding:4px;}}
@-moz-document url-prefix(){button::-moz-focus-inner,input::-moz-focus-inner{border:0 none;padding:0;}button,input[type=reset],input[type=button],input[type=submit]{padding:2px 4px 3px;}}

/* padding & margin */
.pas{padding:5px}
.pam{padding:10px}
.pal{padding:20px}
.pts{padding-top:5px}
.ptm{padding-top:10px}
.ptl{padding-top:20px}
.prs{padding-right:5px}
.prm{padding-right:10px}
.prl{padding-right:20px}
.pbs{padding-bottom:5px}
.pbm{padding-bottom:10px}
.pbl{padding-bottom:20px}
.pls{padding-left:5px}
.plm{padding-left:10px}
.pll{padding-left:20px}
.phs{padding-left:5px;padding-right:5px}
.phm{padding-left:10px;padding-right:10px}
.phl{padding-left:20px;padding-right:20px}
.pvs{padding-top:5px;padding-bottom:5px}
.pvm{padding-top:10px;padding-bottom:10px}
.pvl{padding-top:20px;padding-bottom:20px}
.mas{margin:5px}
.mam{margin:10px}
.mal{margin:20px}
.mts{margin-top:5px}
.mtm{margin-top:10px}
.mtl{margin-top:20px}
.mrs{margin-right:5px}
.mrm{margin-right:10px}
.mrl{margin-right:20px}
.mbs{margin-bottom:5px}
.mbm{margin-bottom:10px}
.mbl{margin-bottom:20px}
.mls{margin-left:5px}
.mlm{margin-left:10px}
.mll{margin-left:20px}
.mhs{margin-left:5px;margin-right:5px}
.mhm{margin-left:10px;margin-right:10px}
.mhl{margin-left:20px;margin-right:20px}
.mvs{margin-top:5px;margin-bottom:5px}
.mvm{margin-top:10px;margin-bottom:10px}
.mvl{margin-top:20px;margin-bottom:20px}
.fss{font-size:10px}
.fsm{font-size:12px}
.fsl{font-size:14px}
.fsxl{font-size:16px}
.fsxxl{font-size:18px}
.fwn{font-weight:400}
.fwb{font-weight:700}

/*!* 基本* */

a{text-decoration:none;color:#006ca4;}
a:hover{text-decoration:underline;color:#F40;}

/*  * 部分内容模块设置默认清除浮动  * */
.box-bd:before, .box-bd:after, .mod-art:before, .mod-art:after, .mod-pic:before, .mod-pic:after, .mod-tabs-content:before, .mod-tabs-content:after, .mod-pic-txt li:before, .mod-pic-txt li:after {content:'';display:table;} .box-bd:after, .mod-art:after, .mod-pic:after, .mod-tabs-content:after, .mod-pic-txt li:after {clear:both} .box-bd, .mod-art, .mod-pic, .mod-tabs-content,.mod-pic-txt li{zoom:1}


/*!* 全局* */
body{font:12px/1.5 tahoma,sans-serif;color:#333; background:url(../img/bg_hearder.png) no-repeat top center;}
.red{ color:#F00}
.blue{ color:#006CA4}
.orange{ color:#ff6600}
/*头部样式*/
#doc{margin:0 auto;width:960px;}
#header{background:url(../img/bg_top.png) no-repeat;height:48px;width:960px;margin:0 auto;}
#header .quick-link{line-height:30px;color:#ccc;}
#header .logo{width:125px; height:38px;display:inline-block;margin-top:5px; float:left;}
#header .quick-link a{margin:0 10px; color:#000;}
#header .quick-link a:hover{color:#f00}
#doc .content{width:960px;margin:20px auto;background:url(../img/bg_conter.png) repeat-y}
#doc .content-hd{background:url(../img/bg_conter_top.png) no-repeat;height:7px;}
#doc .content-ft{background:url(../img/bg_conter_ft.png) no-repeat;height:6px;}
#doc .content-bd{padding:15px;}
#doc .content-bd .mod-msg{margin:80px auto 100px auto ;width:300px;position:relative;padding-left:70px;font-size:14px;line-height:30px;}
#doc .content-bd .mod-msg i{position:absolute;left:0;top:0;background:url(../img/prompt_icon.png) no-repeat;width:54px;height:54px;}
#doc .content-bd .mod-msg .ts{font:900 18px/52px 微软雅黑,黑体;color:#379e0f }
#doc .content-bd .mod-msg p span{display:inline-block;text-align:right;width:70px;}
#doc .footer{text-align:center;margin:15px auto;color:#666}
#doc .footer a{margin:0 4px;color:#666}
