<?xml version="1.0"?>
<configuration scan="true" scanPeriod="30 seconds" >
	<appender name="ROLLFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/yypay-web.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log.dir}/yypay-web.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 200 days' worth of history -->
			<maxHistory>200</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%date %level [%thread] %logger{35} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="YYFILEAPPENDER" class="ch.qos.logback.core.FileAppender">
		<file>${log.dir}/yypay-web.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{35} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="hiido_statistics" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/hiido/hiido_statistics.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log.dir}/hiido/hiido_statistics.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 7 days' worth of history -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="java.sql" level="WARN" />
	<logger name="com.mchange" level="WARN" />
	<logger name="org.apache" level="debug" />
	<logger name="org.mybatis" level="WARN" />
	<logger name="org.springframework" level="debug" />
	<logger name="com.guzhi.pay.mapper" level="WARN" /> <!-- mybatis use this prefix for mapper log -->
	<logger name="hiido_statistics" additivity="false">
        <level value="info"/>
        <appender-ref ref="hiido_statistics"/>
    </logger>
	<root level="${log.level}">
		<appender-ref ref="${log.appender}" />
	</root>
</configuration>
