.bank{border:1px solid #d9d9d9;width:132px;height:40px;float:left;}
.sel-bank{border:1px solid #ff6707;}
.bank div{margin:auto;}
.abc{background:url(/v1.0/img/big_bank_logos.gif) 0 0 no-repeat white;width:103px;height:38px;}
.bcom{background:url(/v1.0/img/big_bank_logos.gif) 0 -38px no-repeat white;width:90px;height:38px;}
.bea{background:url(/v1.0/img/big_bank_logos.gif) 0 -76px no-repeat white;width:114px;height:38px;}
.bjrcb{background:url(/v1.0/img/big_bank_logos.gif) 0 -114px no-repeat white;width:117px;height:38px;}
.bob{background:url(/v1.0/img/big_bank_logos.gif) 0 -152px no-repeat white;width:86px;height:38px;}
.boc{background:url(/v1.0/img/big_bank_logos.gif) 0 -190px no-repeat white;width:79px;height:38px;}
.cbhb{background:url(/v1.0/img/big_bank_logos.gif) 0 -228px no-repeat white;width:101px;height:38px;}
.ccb{background:url(/v1.0/img/big_bank_logos.gif) 0 -266px no-repeat white;width:103px;height:38px;}
.ceb{background:url(/v1.0/img/big_bank_logos.gif) 0 -304px no-repeat white;width:91px;height:38px;}
.cib{background:url(/v1.0/img/big_bank_logos.gif) 0 -342px no-repeat white;width:89px;height:38px;}
.citic{background:url(/v1.0/img/big_bank_logos.gif) 0 -380px no-repeat white;width:86px;height:38px;}
.cmb{background:url(/v1.0/img/big_bank_logos.gif) 0 -418px no-repeat white;width:88px;height:38px;}
.cmbc{background:url(/v1.0/img/big_bank_logos.gif) 0 -453px no-repeat white;width:115px;height:38px;}
.czb{background:url(/v1.0/img/big_bank_logos.gif) 0 -488px no-repeat white;width:88px;height:38px;}
.gzcb{background:url(/v1.0/img/big_bank_logos.gif) 0 -526px no-repeat white;width:95px;height:38px;}
.gzrcc{background:url(/v1.0/img/big_bank_logos.gif) 0 -570px no-repeat white;width:114px;height:38px;}
.hsb{background:url(/v1.0/img/big_bank_logos.gif) 0 -608px no-repeat white;width:101px;height:38px;}
.hxb{background:url(/v1.0/img/big_bank_logos.gif) 0 -646px no-repeat white;width:86px;height:38px;}
.hzb{background:url(/v1.0/img/big_bank_logos.gif) 0 -684px no-repeat white;width:106px;height:38px;}
.icbc{background:url(/v1.0/img/big_bank_logos.gif) 0 -722px no-repeat white;width:106px;height:38px;}
.nbcb{background:url(/v1.0/img/big_bank_logos.gif) 0 -758px no-repeat white;width:86px;height:38px;}
.njcb{background:url(/v1.0/img/big_bank_logos.gif) 0 -796px no-repeat white;width:89px;height:38px;}
.pab{background:url(/v1.0/img/big_bank_logos.gif) 0 -834px no-repeat white;width:107px;height:38px;}
.psbc{background:url(/v1.0/img/big_bank_logos.gif) 0 -874px no-repeat white;width:118px;height:38px;}
.sdb{background:url(/v1.0/img/big_bank_logos.gif) 0 -912px no-repeat white;width:91px;height:38px;}
.shb{background:url(/v1.0/img/big_bank_logos.gif) 0 -950px no-repeat white;width:88px;height:38px;}
.shrcc{background:url(/v1.0/img/big_bank_logos.gif) 0 -988px no-repeat white;width:112px;height:38px;}
.spdb{background:url(/v1.0/img/big_bank_logos.gif) 0 -1024px no-repeat white;width:73px;height:38px;}
.alipay{background:url(/v1.0/img/big_bank_logos.gif) 0 -1063px no-repeat white;width:77px;height:38px;}
 
.other-banks-over,.other-banks-over-warp{position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 9990;}
.other-banks-over-warp{background-color: #000;opacity:0.5;filter:alpha(opacity=50);}
.other-bank-list{width: 580px;border: 1px solid #c1d6e2;height: auto;background-color: #ffffff;position: absolute;left: 30%;top:20%;z-index: 9991;margin:auto;}
.other-bank-title{height: 34px;line-height: 34px;background:url("../img/nav_bg.png") repeat-x;border-bottom: 1px solid #c1d6e2;}
.other-title-text{display: inline;float: left;margin-left: 10px;font-weight: bold;}
.other-bank-close{background-image: url("../img/pu_close.gif");height: 8px; overflow: hidden;width: 10px;display: inline;float: right;margin: 12px 8px 0 0;cursor: pointer;}

body{color:#4f4f4f}
#body{width:960px;margin:25px auto 25px auto;float:left;}
#body div{float:left;}
#body > div{width:100%;}
#body-header{border-bottom:3px #c2d6e1 solid;height:30px;}
#body-header .left{float:left;width:300px;font-size:12pt;font-family:黑体;font-weight:bold;}
#body-header .right{float:right;width:200px;text-align:right;}
#product-desc-tbl > div{border-bottom:1px #dcdcdc solid;width:100%;float:left;padding-bottom:10px;}
.bold{font-weight:bold}
.summary{float:right;width:100px;}
.product-desc-head{padding-top:15px;width:100%;*padding-top:15px;}
.product-desc-row{padding-top:15px;color:#0a579b;width:100%;*padding-top:15px;}
.order-num-cell{width:170px;padding-left:35px;padding-right:10px;}
.product-name-cell{width:365px;padding-right:10px;}
.sell-pric-cell{width:105px;padding-right:10px;}
.amount-cell{width:105px;padding-right:10px;}

#order-no-head{float:left;width:180px;padding-left:35px;}
#choose-pay-lbl{float:left;width:960px;font-family:'黑体';font-weight:bold;padding-bottom:10px;font-size:12pt;}
#bank-list{border:1px solid #bfd6e6;width:960px;height:425px;*height:400px;height:485px\9;margin:0px auto 50px auto;}
#bank-list,#bank-list>div,#pay-row,#pay-row>div,#mult-banks,#mult-banks>div,#choose-bank-cell,#choose-bank-cell>div{float:left;width:100%;}
#pay-method-row{height:30px;background:url(img/bg_bar1.gif) repeat-x;border-bottom:1px solid #bfd6e6;}
#sel-symbol-cell{font-size:16px;line-height:21px;font-family:Simsun;position:absolute;left:40%;bottom:-9px;overflow:hidden;width:17px;height:9px;font-size:16px;line-height:21px;}
#sel-symbol-cell span,#sel-symbol-cell em{overflow:hidden;position:absolute;color:#C1D6E2;margin-top:-10px;height:19px;width:17px;}
#sel-symbol-cell span{top:-2px;color:#DCEDFD;}
#pay-row{margin-top:25px;}
#bank-row{margin-top:25px;height:135px;}
#sel-bank-lbl{float:left;width:90px;margin-left:45px;padding-top:8px;}
#choose-bank-cell{width:750px;}
#mult-banks .bank-cell,.bank-cell{float:left;width:182px;cursor:pointer;}
.alipay-bank-cell{width:100% !important;}
.alipay-info{float:left;width:200px;padding-left:20px;padding-top:12px;color:#888;}
#sing-sel-other-bank-cell{float:left;width:200px;padding-left:10px;padding-top:10px;}
#single-bank .blank{height:50px;}
#mult-banks .blank{height:11px;}

.pay-method-list{list-style:none;margin:0px;padding:0px;color:#1b7caf;font-size:14px;}
.pay-method{float:left;height:30px;line-height:30px;padding:0 8px;position:relative;}
.sel-pay-method{background-color:#DCEDFD;border-right:1px solid #C2D1DF;color:#09F;cursor:default;font-weight:bold;}
.warn-row{height:45px;line-height:45px;background:#fffee0;border-top:1px solid #e4e6d1;border-bottom:1px solid #e4e6d1;margin-top:28px;}
.blank{width:100%;float:left;}
.bank-cell .radio{width:20px;float:left;height:40px;line-height:40px;*padding-top:10px;}

#other-bank-dialog{float:left;width:580x;height:460px;padding-left:25px;padding-top:33px;}
#other-bank-dialog > div{float:left;width:100%;}
#other-bank-dialog .blank{height:20px;}